{% extends "base.html" %}

{% macro write_group(group) %}
<div class="row">
	<div class="span4">
	<h3><i class="icon {{ groups[group]['icon'] }}"></i> {{ groups[group]["label"] }}</h3>
	<p><b>Keywords: </b>{{ ", ".join(groups[group]["keywords"]) }}</p>
	</div>
	<div class="span8">
		<p></p>
		{% for p in group_datasets[group]|sort(attribute="title") -%}
		<p><a href="index.py?page=dataset&fname={{ p.file_name }}">{{ p.title }}</a></p>
		{%- endfor %}
	</div>
</div>
<hr>
{% endmacro %}

{% block content %}

{% for group in group_list if group!="Other" -%}
	{{ write_group(group) }}
{%- endfor %}
{{ write_group("Other") }}

{% endblock %}