{% extends "base.html" %}

{% macro write_group(group) %}

<div class="row">
	<div class="span6">
	<a href="index.py?page=sector&group={{ group }}" style="text-decoration: none;">
		<h4 style="color: #{{ groups[group]['color'] }};">
		<i class="icon {{ groups[group]['icon'] }}"></i> {{ groups[group]["label"] }}</h4>
	</a>
	<p style="font-size: 80%"><b>Keywords: </b>{{ ", ".join(groups[group]["keywords"]) }}</p>
	</div>
	<div class="span6">
		<div class="progress">
			<div class="bar" style="width: {{ groups[group]['sets'] * 100 / maxsets }}%;"></div>
		</div>
		<p style="font-size: 80%">{{ int(groups[group]['sets']) }} datasets.
			<a href="index.py?page=sector&group={{ group }}" 
			>Show me.</a></p>
	</div>
</div>
<hr>
{% endmacro %}

{% block content %}

<div class="row">
	<div class='span12'>
	<table style="width: 100%; border-collapse: collapse;" ><tbody><tr>
	{% for group in group_list -%}
	<td style="background-color: #{{ groups[group]['color'] }}; 
		height: 18px; width: 12.5%;">
	</td>
	{% endfor %}
	</tr></tbody></table>
	</div>
</div>
<br />
<h2 style="text-align: center;">Explore Government of India Datasets</h2>
<br />
{% for group in group_list if group!="Other" -%}
	{{ write_group(group) }}
{%- endfor %}
{{ write_group("Other") }}

{% endblock %}