{% extends "base.html" %}

{% block content %}
<div style="background-color: #{{ group_info['color'] }}; height: 18px;">
</div>
<div class="row">
	<div class="span12">
	<p style="font-size: 80%; line-height: 2.4;"><a href="index.py">Back to Home</a></p>
	<h3><i class="icon {{ group_info['icon'] }}"></i> {{ group_info["label"] }}</h3>
	<p><b>Keywords: </b>{{ ", ".join(group_info["keywords"]) }}</p>
	</div>
</div>
<div class="row">
	<div class="span12">
		<hr>
		<h2 style="text-align: center;">The Datasets</h2><br />
		{% for p in group_dataset|sort(attribute="title") -%}
		<p><a href="index.py?page=dataset&fname={{ p.file_name|urlencode }}">{{ p.title }}</a></p>
		{%- endfor %}
	</div>
</div>

{% endblock %}